
body{
    background-color: rgb(223, 243, 247);
}
.container{
    
    height: 500px;
    
    
}
/* Header */


.carousel-item{
    width: 100%;
    height: 430px;
    padding: 10px;
}
#headerlogo{
   
    height:400px;
    width: 2px;
}

.img-fluid{
  margin-top: 20px;
  padding: 40px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 20px;
  }
  .fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-facebook:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    color: white;
  }
  .fa-instagram:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    color:white;

  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
.SavorySalads{
    text-align: center;
    padding: 1px;
    margin-top: 60px;
}
  /* Food Items */ 
  .special_items{
      display: flex;
      flex-direction: column;
  }
 
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(197, 14, 14);
  box-shadow: 0 4px 8px 0 rgba(246, 6, 6, 0.3), 0 6px 20px 0 rgba(230, 215, 12, 0.5);
  margin-bottom: 25px;
   
  }
  .column img:hover{

    opacity: 95%;
    height:400px;
    width:400px;
    border-radius: 20px;
  }
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    
  }
 
  #pic1{
      height:170px;
  }
  div.cont {
    text-align: center;
    padding: 10px 20px;
  }
  #foodname{
      background-color: #125688;
    padding: 10px;
    border-radius: 20px;
  }
  .row{
      padding: 30px;
      padding-top: 250px;

  }

  /* MENU ITEMS*/ 
  #monthspecials{
      text-align: center;
      padding: 10px;
  }
  .rowmenu{
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding:40px;
  }
  /*Fav SALADS */
  .favs{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   padding-left: 35px;
   padding-top: 60px;

  }
  .card{
    border-radius: 20px;
  }

  grow {
    transition: 2.3s ease;
    }
  #grow{
    opacity: 0.5;
  }
    
    #grow:hover{
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
    transition: 1s ease;
    opacity: 100;
    }